{% extends "base.html" %}

{% block content %}
<main class="main main--content">
    <dl>
        <div class="contact">
            <dt>Email:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="mailto:narb3h@hotmail.com">narb3h[at]hotmail.com</a>
            </dd>
        </div>

        <div class="contact">
            <dt>Github:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://github.com/narbehn">@narbehn</a>
            </dd>
        </div>

        <div class="contact">
            <dt>Twitter:</dt>
            <dd class="contact__details">
                <a class="contact__link" href="https://twitter.com/narbehn">@narbehn</a>
            </dd>
        </div>
    </dl>
</main>
{% endblock %}